*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
}
.note{
	width: 400px;
	height: 150px;
	background: #FFF;
	border: 1px solid #eee;
	overflow: hidden;
	margin: 10px auto;
}
.note ul{
	width: 402px;
    height: 40px;
    background: #ddd;
}
.note ul li{
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #ddd;
}
.note ul li a{
	text-decoration: none;
	height: 40px;
	line-height: 40px;

}
.note ul .select:hover{
	background: #FFF;
}
.note ul .select a:hover{
	font-weight: bolder;
}
.note ul li.select{
	background: #FFF;
	font-weight: bolder;
}
.note-con{
	width: 402px;
	background: #FFF;
	height: 110px;
	overflow: hidden;
}
.note-list ul{
    width: 402px;
    height: 110px;
    background: #FFF;
}
.note-list ul li{
	float: left;
	width: 201px;
	height: 55px;
    text-align: center;
    background: #FFF;
}
.note-list ul li a{
    width: 201px;
    height: 55px;
    text-decoration: none;
    line-height: 55px;
    background: #FFF;
}


